# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Personal\Content-aware-image-resizing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
